

@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap');


@import url(fonts.css);
@import url(reset.css);

body{
	font-family: "Proxima nova",sans-serif;
}
.title {
	font-style: normal;
	font-size: 40px;
}
.title {
	font-weight: normal;
}
.title {
color: rgb(43, 41, 41);
 }
 .text {
	text-align: left;
}
 .title {
	text-align: center;
 }
.text{
	font-family:"Proxima Nova","Elsie";
}
.text {
	font-size: 16px;
}
.title {
	text-decoration: underline;
}
.text {
	text-transform: none;
}
.text {
	line-height: 30px;
}
.center-image {
	text-align: center;
}