@mixin Card($dth, $ght) {
  width: $dth;
  height: $ght;
  border-radius: 20px;
  opacity: 0.6000000238418579;
}
@mixin Card1($dth, $ght) {
  width: $dth;
  height: $ght;
}

@mixin Title($fs, $c, $fw) {
  font-family: "Montserrat", sans-serif;
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}
@mixin Text($fs, $c, $fw) {
  font-family: "Montserrat", sans-serif;
  font-weight: $fw;
  font-size: $fs;
  color: $c;
}

.Baner_container {
  height: 480px;
  position: relative;
  img:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
  }
  img:nth-child(3) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  .Box {
    position: absolute;
    top: 0;
    left: 0;
    img:nth-child(1) {
      position: absolute;
      top: 50px;
      left: 100px;
      animation: 3s linear infinite rotate;
      transform: translate(-50%, -50%);
    }
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    img:nth-child(2) {
      position: absolute;
      top: 0px;
      left: 950px;
		
    }

    img:nth-child(3) {
      position: absolute;
      top: 290px;
      left: 835px;
    }
    img:nth-child(4) {
      position: absolute;
      top: 320px;
      left: 580px;
    }
    img:nth-child(5) {
      position: absolute;
      top: 320px;
      left: 120px;
    }
    img:nth-child(6) {
      position: absolute;
      top: 90px;
      left: 1150px;
    }
    img:nth-child(7) {
      position: absolute;
      top: 90px;
      left: 1470px;
      animation: 3s linear infinite rotate;
      transform: translate(-50%, -50%);
    }
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    img:nth-child(8) {
      position: absolute;
      top: 260px;
      left: 1530px;
    }
  }

  ul {
    position: absolute;
    top: 100px;
    left: 367px;

    li {
      @include Title(36px, #fff, 700);
      &:nth-child(1) {
        margin-bottom: 26px;
      }
      &:nth-child(2) {
        margin-bottom: 41px;
      }
    }
    p {
      @include Text(20px, #fff, 500);
    }
  }
}
.Sova {
  display: flex;
  width: 1920px;
  height: 560px;
  

  .SovaImage_container {
    position: relative;
    top: 0;
    margin: 0;
    padding-left: 330px;
    padding-top: 99px;
	 .Sova_icon:hover{
		 animation: 3s linear infinite rotate;
      transform: translate(-50%, -50%);
    }
	  @keyframes rotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
	 

    .Sova_Text {
      position: absolute;
      top: 130px;
      left: 340px;
      h3 {
        @include Text(16px, #000, 600);
        margin-bottom: 30px;
      }
      p {
        @include Text(16px, #000000, 500);
      }
    }
    .Sova_icon {
      position: absolute;
      top: 260px;
      left: 300px;
    }
    
  }

  .SovaCards {
    padding-left: 40px;
    .SovaCards_container {
      padding-top: 106px;
    }
    .SovaCards_age {
      display: flex;
      gap: 160px;
      margin-bottom: 53px;
      ul {
        display: flex;
        gap: 7px;
        justify-content: center;
        align-items: center;

        li {
          @include Text(16px, #000, 700);
        }
        p {
          @include Text(12px, #4f4f4f, 400);
        }
      }
    }
  }

  .SovaCards_Box {
    @include Text(14px, #000, 500);

    .Box_1 {
      display: flex;

      gap: 20px;
      margin-bottom: 16px;

      li {
        border-radius: 5px;
        background-color: #fff;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:nth-child(1) {
          width: 150px;
          box-shadow: 1px 1px 8px rgb(255, 227, 142),
            -1px -1px 8px rgb(184, 239, 207);
        }

        &:nth-child(2) {
          border: 1px;
          width: 140px;
          box-shadow: -1px -1px 5px rgb(199, 238, 255);
        }

        &:nth-child(3) {
          border: 1px;
          width: 160px;
          box-shadow: 1px 1px 15px rgb(199, 238, 255),
            -1px -3px 15px rgb(199, 238, 255);
        }
        &:nth-child(4) {
          width: 140px;
          box-shadow: 1px 1px 5px rgb(255, 227, 142),
            -1px -1px 5px rgb(199, 238, 255);
        }
        &:nth-child(5) {
          width: 110px;
          box-shadow: 1px 1px 5px rgb(255, 227, 142),
            -5px -5px 5px rgb(199, 238, 255), 0px 1px 5px rgb(247, 148, 29);
        }
      }
    }

    .Box_2 {
      gap: 20px;
      display: flex;

      li {
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 54px;

        &:nth-child(1) {
          width: 260px;
          box-shadow: -7px -1px 15px rgb(247, 148, 29);
        }
        &:nth-child(2) {
          width: 175px;
          box-shadow: 1px 1px 25px #b8efcf, -5px -5px 5px #b8efcf,
            0px 1px 15px #b8efcf;
        }
        &:nth-child(3) {
          width: 100px;
          box-shadow: 1px 1px 15px rgb(255, 227, 142),
            -1px -1px 15px rgb(199, 238, 255), 0px 1px 1px rgb(247, 148, 29);
        }
        &:nth-child(4) {
          width: 110px;
          box-shadow: 1px 1px 5px rgb(255, 227, 142),
            -1px -1px 5px rgb(199, 238, 255);
        }
      }
    }
  }
}
.Video_container {
  margin: 0 auto;

  .Bagraund {
    position: relative;
    height: 646px;
    img:nth-child(1) {
      position: absolute;
      top: 0;
      left: 480px;
    }
    img:nth-child(2) {
      position: absolute;
      top: 0;
      right: 320px;
    }
    img:nth-child(3) {
      position: absolute;
      top: 348px;
      left: 310px;
    }
    img:nth-child(4) {
      position: absolute;
      top: 420px;
      right: 400px;
    }
    img:nth-child(5) {
      position: absolute;
      top: 60px;
      left: 576px;
    }

    .Video {
      position: relative;
      top: 60px;
      left: 576px;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
      .button {
        position: absolute;
        top: 160px;
        left: 320px;
      }
    }
  }
}
.Info_container {
  margin: 0 auto;
  p {
    padding-left: 358px;
    @include Text(24px, #000, 700);
    line-height: 34px;
  }

  .Information_Box {
    display: flex;
    padding-top: 42px;
    padding-left: 370px;
    @include Text(20px, #000, 500);
    margin-bottom: 82px;

    ul:nth-child(1) {
      margin-right: 122px;
    }
    ul:nth-child(2) {
      margin-right: 144px;
    }
  }
}
.Grid_containar {
  padding-bottom: 119px;
  width: 1180px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  .Box1:hover {
    transform: scale(1, 2);
    transition: 2s;
  }
  .Box2:hover {
    background-color: rgba(202, 202, 235, 0.998);
  }
  .Box3:hover {
    background-color: rgb(174, 223, 195);
  }
  .Box4:hover {
    background-color: rgb(255, 192, 203);
  }
  .Box5:hover {
    background-color: rgb(230, 203, 123);
  }
  .Box1 {
    display: flex;
    gap: 52px;
    padding: 20px;
    grid-column: span 4;
    background-color: var(--bg-color-dyellow);
    border-radius: 20px;
    padding: 20px;

    .Button {
      margin-top: 70px;
      margin-left: 100px;
      width: 222px;
      height: 60px;
      border: 2px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }
    .Button::after {
      content: url(/assets/icons/grid_space.svg);
      padding-left: 15px;
      vertical-align: middle;
    }

    .Box1_text {
      h3 {
        @include Text(36px, #000, 500);
        line-height: 26px;
        margin-bottom: 29px;
      }
      p {
        @include Text(18px, #333, 400);
        line-height: 26px;
      }
    }
  }
  .Box2 {
    grid-column: span 2;
    grid-row: span 2;
    background-color: var(--bg-color-blue);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    
    .Box2_text {
      h3 {
        @include Text(24px, #000, 500);
        margin-top: 37px;
        margin-bottom: 41px;
      }
      p {
        @include Text(16px, #333, 400);
        list-style: 24px;
        margin-bottom: 49px;
      }
    }
    .Button {
      width: 222px;
      height: 50px;
      border: 2px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-left: 150px;
    }
    .Button::after {
      content: url(/assets/icons/grid_space.svg);
      padding-left: 15px;
      vertical-align: middle;
    }
  }
  .Box3 {
    grid-column: span 1;
    background-color: var(--bg-color-mint);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    img {
      margin-bottom: 46px;
      p {
        @include Text(24px, #000, 500);
      }
    }
  }
  .Box4 {
    grid-column: span 1;
    background-color: var(--bg-color-lpink);
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    img {
      margin-bottom: 46px;
      p {
        @include Text(24px, #000, 500);
      }
    }
  }
  .Box5 {
    display: flex;
    gap: 52px;
    grid-column: span 2;
    grid-row: span 1;
    background-color: var(--bg-color-yellow);
    border-radius: 20px;
    padding: 20px;
    .Box5_text {
      padding: 20px;
      h4 {
        @include Text(24px, #000, 500);
        line-height: 26px;
        margin-bottom: 30px;
      }
      p {
        @include Text(16px, #333, 400);
        list-style: 24px;
      }
      img {
        vertical-align: middle;
      }
    }
  }
}

.Flex_box {
  .Flex_container {
    position: relative;
    top: 0;
    left: 0;
    img:nth-child(2) {
      position: absolute;
      top: 0;
      left: 0;
    }
    h2 {
      position: absolute;
      top: 43px;
      left: 825px;
      @include Text(30px, #fff, 700);
    }
  }
  .FlexCards {
    position: absolute;
    top: 131px;
    left: 0;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 1920px;
  }
  .FlexCard {
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 20px;
    width: 280px;
    li:nth-child(1) {
      @include Text(14px, #000, 700);
      text-align: center;
      margin-bottom: 8px;
    }
    li:nth-child(2) {
      @include Text(12px, #4f4f4f, 500);
      text-align: center;
      margin-bottom: 9px;
    }
    li:nth-child(3) {
      @include Text(14px, #000, 500);
      line-height: 22px;
    }
  }
}

.GridCarts1 {
  height: 770px;

  h2 {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 63px;
    @include Text(36px, #000, 700px);
    line-height: 34px;
  }
  .GrdCard_container1 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    padding-left: 370px;
    padding-right: 370px;

    p {
      @include Text(18px, #000, 500);
      line-height: 26px;
    }
    img:nth-child(1) {
      margin-bottom: 19px;
    }
    img:nth-child(2) {
      margin-bottom: 29px;
    }
    img:nth-child(3) {
      margin-bottom: 29px;
    }
    img:nth-child(4) {
      margin-bottom: 36px;
    }
  }
}


