:root {
	--bg-color-blue:#C5DDFF;
	--bg-color-mint:#B8EFCF;
	--bg-color-lpink:#FFEEF6;
	--bg-color-dyellow:#F7BC75;
	--bg-color-yellow:#FFE38E;
	--bg-color-dblue:#00093C;
	--bg-color-main:#F6F7F9;

}
