@import url(fonts.css);
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

header {
  background-color: grey;
  padding: 50px;
  margin-bottom: 50px;
}

.page {
  padding: 50px;
  font-size: 50px;
}
.example {
  padding: 20px;
}
.link {
  background-color: violet;
  color: azure;
}
.link:hover {
  color: brown;
  text-decoration: underline;
}
.article > * {
  margin-bottom: 15px;
}
.title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 50px;
}
.content {
  line-height: 1, 2;
  margin-bottom: 20px;
}
.button {
  background-color: crimson;
  padding: 12px;
  border-radius: 5px;
  color: black;
}
.button :hover {
  background-color: rgb(52, 35, 114);
}
.article > * :last-child {
  margin-bottom: 0px;
}

/* KROVATO */
.krovato {
  width: 1920px;
  font-family: "Proxima Nova", sans-serif;
  margin: 0 auto;
  padding: 100px;
}
.living_conteiner {
  background-color: azure;
  width: 1070px;
  height: 1544px;
  margin: 0 auto;
}
.living_title {
  width: 1070px;
  color: #2b2929;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
  border: 8px solid crimson;
  border-radius: 10px;
  box-shadow: 20px 10px 8px crimson;
  text-shadow: 3px 2px crimson;
}
.living_text p {
  color: #2b2929;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
  max-width: 1070px;
  margin-bottom: 15px;
}
.sofa {
}
.sofa_title {
  color: #2b2929;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  max-width: 1070px;
  margin-bottom: 15px;
}
.sofa_text p {
  margin-bottom: 15px;
  max-width: 1023px;
  color: #2b2929;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  background-image: url(../img/Vector.png);
  padding-left: 30px;
  background-repeat: no-repeat;
  margin-left: 50px;
}
.sofa_subtitle {
  max-width: 1070px;
  color: #2b2929;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
}
.living_photo {
  margin-bottom: 30px;
  border: 2px dashed;
  border-radius: 20px;
}
.living_conteiner > *:last-child {
  margin-bottom: 0px;
}

.living_text p:first-child {
  background-color: pink;
}
.sofa_text p:first-of-type {
  background-color: palevioletred;
}
.sofa_text *:last-child {
  background-color: brown;
}

.sofa_text p:nth-child(3) {
  background-color: cadetblue;
  /* odd (1,3,5)even(246) */
}
.sofa_text p:nth-child(2),
.sofa_text p:nth-child(4) {
  background-color: aqua;
}
.sofa_text p:last-child {
  margin-bottom: 0px;
}
.sofa :has(h2) {
  background-color: chartreuse;
}

.about_section {
  font-family: "Exo", sans-serif;
  max-width: 1512px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 100px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.about_conteiner {
}
.about_title {
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}
.about_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  text-transform:none ;
  margin-bottom: 150px;
  text-align: center;

}
.rolling_text {
  margin: 0;
  padding: 20px;
  text-align: center;
}
.rolling_text li {
  display: inline;
  margin-right: 20px;
}
.rolling_text li::after {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(254, 9, 5, 1) 0%,
    rgba(28, 121, 9, 1) 53%,
    rgba(0, 22, 255, 1) 100%
  );
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 20px;
}
.about_title::after {
  content: "";
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(254, 9, 5, 1) 0%,
    rgba(28, 121, 9, 1) 53%,
    rgba(0, 22, 255, 1) 100%
  );
  display: block;
  width: 60%;
  margin: 0 auto;
}
.info_block {
	color: #fff;
	padding: 50px 0px;
	background-color:black ;
	margin: 0 auto;
	text-align: center;
	font-family: "Exo", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1;
	margin-bottom: 50px;

}
.info_block a:not(:last-child) {
	margin-right: 80px;
}
.info_tel::before {
	height: 20px;
	width: 20px;
	content: "";
	background: url("../img/vector_1.png") 0 0 / 100% no-repeat;
	margin-right: 20px;
	vertical-align: middle;

}
.info_website::before {
	height: 20px;
	width: 20px;
	content: "";
	background: url("../img/vector_2.png") 0 0 / 100% no-repeat;
	margin-right: 20px;
	vertical-align: middle;

}
.info_email::before {
	content: "";
	height: 20px;
	width: 20px;
	background: url("../img/vector_3.png") 0 2px / 100% no-repeat;
	margin-right: 20px;
	vertical-align: middle;
}


