@import url("reset.css");

.wrapper {
  min-height: 100%;
  overflow: clip;
}
/* Task1 */
.container {
  background-color: #412672;
}

.business {
  max-width: 1201px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  overflow: hidden;
}
.business h1 {
  color: #fff;
  font-size: 38px;
  text-align: left;
  margin-bottom: 31px;
}
.business span {
  font-weight: 700;
}

.business-container {
  margin: 0 -5px -5px 0;

  font-size: 0;
  vertical-align: top;
  padding-top: 61px;
  padding-bottom: 102px;
}
.busines-content {
  padding: 0 5px 5px 0;
}
.busines-content li {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  color: #000;
  background-color: #fff;
  max-width: 387px;
  height: 476px;
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
}
.busines-content li h2 {
  font-size: 22px;
  text-align: left;
  font-weight: 600;
}
.busines-content li p {
  color: #4f4f4f;

  text-align: left;
}
.busines-content li img {
  height: 266px;
}
.busines-content li a {
  color: #fe3f3f;
}
.busines-content li a:hover {
  color: #240686;
}

.busines-content li :not(:last-child) {
  margin-bottom: 16px;
}
.busines-content li:hover {
  background-color: #ffbe48;
  box-shadow: 0 15px 34px 0 rgba(0, 0, 0, 0.1),
    0 62px 62px 0 rgba(0, 0, 0, 0.09), 0 138px 83px 0 rgba(0, 0, 0, 0.05);
}
.busines-content li a:active {
  color: #fff;
}
.busines-content li:not(:last-child) {
  margin-right: 20px;
}

/* Task2 */
.best-faculty {
  padding-top: 50px;
  padding-bottom: 50px;
}
.best-faculty ul {
  padding-left: 44px;
}
.best-faculty-container {
  margin: 0 auto;
  max-width: 518px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #412672;
}
.best-faculty-container h2 {
  font-size: 34px;
  margin-bottom: 20px;
}
.best-faculty-container span {
  font-weight: 700;
}
.best-faculty-container p {
  font-size: 22px;
  text-align: left;
  margin-bottom: 20px;
  line-height: 1.3;
}
.best-faculty-container ul li {
  color: #4f4f4f;
  font-size: 20px;
  text-align: left;
  line-height: 1.3;
}
.best-faculty-container ul li:not(:last-child) {
  margin-bottom: 21px;
}
.best-faculty-container ul li::before {
  content: "";
  background-image: url(../img/icon.png);
  width: 29px;
  height: 29px;
  margin-right: 15px;
  margin-left: -44px;
  vertical-align: top;
  display: block;
  margin-bottom: -29px;
}
.play {
	margin-top:100px;
	
}
.play-container {
	max-width: 1000px;
	height: 1300px;
margin: 0 auto;
background-color:palevioletred;
}
.start {
	margin-left: 50px;
	height: 80px;
	width: 200px;
	background-color: pink;
}



