@import url("reset.css");

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-shrink: 1;
}
[class*="__container"] {
  max-width: 1758px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ............................ */
/* Основні медіа запити */
/* @media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 479.98px) {} */
.header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #f9e9d6;
}

.header__container {
}
.header__body {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.header__container {
  max-width: 1174px;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header__logo img {
  width: 44px;
  height: 44px;
}
.header__logo span {
  line-height: 1.5;
  flex-wrap: wrap;
  /* white-space: nowrap; */
  color: #000;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
}
.header__menu {
}
.header__items {
  display: flex;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.538;
  gap: 30px;
}
.header__item {
}
.header__buttons {
  display: flex;
}
.header__button {
  color: #fff;
  font-size: 16px;
  text-align: left;
  font-weight: 500;
  text-transform: none;
  background-color: #f26522;
  max-width: 176px;
  padding: 8px 30px;
  display: flex;
  gap: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 999px;
  position: relative;
  z-index: 4;
}
.btn {
}

.header__burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
}

.header__burger span {
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  top: 9px;
  transition: all 0.3s ease;
}

.header__burger::after,
.header__burger::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000000;
  position: absolute;
  transition: all 0.3s ease;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.active span {
  transform: scale(0);
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}

.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.education__burger::after {
  content: "";
  bottom: 0;
}

@media (max-width: 991.98px) {
  .header__logo span {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header__burger {
    display: block;
  }

  .header__logo span {
    display: block;
  }

  .header__logo span {
    font-size: 26px;
  }
  .header__button svg {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .header__buttons {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ef753d;
    z-index: 7;
    padding: 120px 15px 20px;
    overflow: auto;
  }
  .header__menu ::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: #f4c38b;
  }
  .header__burger {
    z-index: 11;
  }
  .header__logo {
    z-index: 11;
  }
  .header__buttons {
    z-index: 11;
  }

  .header__items {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header__menu {
    transform: translateX(100%);
    transition: all 0, 3s ease;
  }

  .header__menu.active {
    transform: translateX(0);
  }
  .header__item {
    font-size: 18px;
    color: #f4c38b;
  }
}
@media (max-width: 557.98px) {
  .header__logo span {
    font-size: 20px;
  }
  .header__logo img {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 487.98px) {
	.header__logo span {
		display: none;
	}
	.header__logo img {
		width: 40px;
		height: 40px;
	 }
}

.footer {
  padding: 40px 0;
}
.footer__body {
  text-align: center;
}
.footer__footer {
  font-size: 30px;
  text-transform: uppercase;
  color: #e6e6e6;
  font-weight: 700;
}
