.body {
  background-image: linear-gradient(to right, darkblue, greenyellow);
}

.Parent {
  width: 300px;
  background-color: chartreuse;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: black 2px 3px 4px;
}

.Paragraph {
  /* color: green;  
  white-space: nowrap;
  white-space: pre-line;
  white-space: pre-wrap;*/
  color: green;
  /* word-break: break-all; */
  /* writing-mode: vertical-lr; */
  /* writing-mode: vertical-rl; */
  /* word-spacing: 30px; */
  /* letter-spacing: 15px; */
  /* text-transform: lowercase; */
  /* text-transform: uppercase; */
  /* text-decoration: underline; */
  /* text-decoration: overline; */
  /* text-decoration: dashed underline black 3px; */
  text-shadow: rgb(142, 126, 142) 2px 2px 2px;
  /* тень-цвет размытие х координат/y координат */
}
.ParagraphUnicElement {
  color: darkblue;
}
