@import url(fonts.css);
@import url(reset.css);





.Instagram-title {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: rgb(0, 0, 0);
	text-align: center;
	font-size: 50px;
	margin-bottom: 30px;
}

.style {
	font-family: "Roboto", sans-serif;
	background-color: #f4f4f4;
	padding-top: 120px;
	padding-bottom: 70px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;

}

.conteiner {
	width: 1330px;
	margin: 0 auto;
}

.imeges {
	margin: 0-10px;

}

.image {
	display: inline-block;
	padding: 0px 10px;
}

.page {
	font-family: "Proxima Nova", sans-serif;
	max-width: 1070px;
	padding: 100px;
	margin-left: 300px;
}

.living-title {
	font-family: "Proxima Nova", sans-serif;
	font-size: 30px;
	font-style: normal;
	color: rgb(43, 41, 41);
	line-height: 40px;
	margin-bottom: 20px;
	text-align: center;
}

.living-photo {
	max-width: 100%;
	margin-bottom: 30px;
}

.living-text {
	margin-bottom: 20px;
	line-height: 25px;
}

.sofa-title {
	font-family: "Proxima Nova", sans-serif;
	font-size: 20px;
	color: rgb(43, 41, 41);
	font-weight: normal;
	line-height: 28px;
	margin-bottom: 30px;
}

.sofa-list {
	margin-left: 80px;
	line-height: 25px;
}

.sofa-item {
	margin-bottom: 30px;
}

.sofa-sub-title {
	margin-top: 30px;
	color: rgb(43, 41, 41);
	font-size: 16px;
	line-height: 25px;
}



.categories {
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
}

.categories-title {
	text-align: center;
	font-weight: 600;
	font-size: 40px;
	line-height: 48px;
	margin-bottom: 40px;

}

.categories-conteiner {
	max-width: 1290px;
	margin: 0 auto;

}

.category-items {
	margin-left: -15px;
	margin-right: -15px;
	font-size: 0;

}

.category-item {
	width: 25%;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: top;
}

.category-content {
	text-align: center;
}

.category-subtitle {
	font-weight: 600;
	font-size: 26px;
	margin: 20px 0;
}

.category-text {
	font-size: 16px;
	line-height: 1.875;
}