@import url("reset.css");
@import url("fonts.css");

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-shrink: 1;
}
[class*="__container"] {
  max-width: 1950px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.billing {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.billing__container {
  padding: 32px 0 80px 0;
}

.billing__content {
	flex-basis: 872px;
  display: inline-flex;
  flex-direction: column;
}
.billing__main-title {
  color: #1a1a1a;
  font-size: 24px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.42;
}
.billing__main-title--margin {
  margin-bottom: 20px;
}

.form-billing__container {

}

.form-billing__user,
.form-billing__adress,
.form-billing__contact {
  display: flex;
  gap: 16px;

}

.form-billing__label {

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form-billing__user-content,
.form-billing__adress-content {
  flex-basis: 280px;
}
.form-billing__select {
  display: flex;
  width: 280px;
  padding: 14px 16px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 6px;
}

.form-billing__email-long {
  width: 100%;
}
.form-billing__input,
.form-billing__textarea {
  padding: 14px 16px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 16px;
}
.form-billing__contact {
  max-width: 902px;
}

.form-billing__contact-content {
  flex-basis: 428px;
  width: 100%;
}

.form-billing__textarea {
  padding: 10px;
  height: 100px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  resize: vertical;
  display: inline-flex;
  width: 100%;
}
.form-billing__checkbox {
  display: inline-flex;
  gap: 6px;
  cursor: pointer;
  width: 100%;
}
.billing__line--margin {
  width: 1px;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  margin-top: 32px;
  margin-bottom: 32px;
}

.form-billing__label-checkbox {
  display: flex;
  align-items: center;
}
.form-billing__label-checkbox::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #e6e6e6;
  align-items: center;
}
.form-billing__input-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  width: auto;
  gap: 8px;
}

.form-billing__input-checkbox:focus-visible + .form-billing__label-checkbox {
  outline: 1px solid black;
  outline-offset: 3px;
}

.form-billing__title,
.form-billing__title-checkbox {
  color: #1a1a1a;
  font-size: 14px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  
}
.order {
  display: inline-flex;
  flex-basis: 424px;
  border: 1px solid #e6e6e6;
}
.order__container {
  padding: 24px;
}
.order__content {
}
.order__main-title {
}
.order__main-title--margin {
}
.order__items {
}
.order__item {
}
.order__item--image {
}
.order__item-content {
  display: flex;

  gap: 12px;
}
.order__text {
}
.order__num {
}
.order__price {
}
.order__item--twoo {
}
.order__radio {
}
.order__radio-content {
}
.order__input {
}
.order__title {
}

.footer {
  padding: 40px 0;
}
.footer__body {
  text-align: center;
}
.footer__footer {
  font-size: 30px;
  text-transform: uppercase;
  color: #e6e6e6;
  font-weight: 700;
}
